{% extends "theme_bootstrap/subnav_base.html" %}

{% load i18n %}

{% block subnav %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>{% trans "Website Settings" %}</strong></div>
        <div class="list-group">
            <a class="list-group-item" href="{% url "websites_settings" site_id %}">
                {% trans "Basic Settings" %}
            </a>
            <a class="list-group-item" href="{% url "websites_settings_info" site_id %}">
                {% trans "Site Information" %}
            </a>
            <a class="list-group-item" href="{% url "payments_settings" site_id %}">
                {% trans "Payments" %}
            </a>
            <a class="list-group-item" href="{% url "websites_customize" site_id %}">
                {% trans "Customize" %}
            </a>
            <a class="list-group-item list-group-item-danger" href="{% url "websites_delete" site_id %}">
                {% trans "Delete Website" %}
            </a>
        </div>
    </div>
{% endblock %}
