{% extends "consumer_base.html" %}

{% load i18n %}
{% load domain_url %}

{% block head_title %}{% trans "Videos" %}{% endblock %}

{% block body_base %}
    <section class="jumbotron jumbotron-41 main_bg_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Videos</h2>
                    <p>Check out our available videos!</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            {% if video_list %}
                <div class="row">
                    {% for video in video_list %}
                        {% if forloop.counter0|divisibleby:3 %}
                            <div class="clearfix"></div>
                        {% endif %}
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="{{ video.thumbnail.url }}" class="img-center img-responsive" alt="Series thumbnail image">
                                        <h3>{{ video.title }}</h3>
                                        <p class="text-muted">{{ video.description }}</p>
                                        <p class="text-center">
                                            <a href="{% url 'videos:detail' video.id %}" class="btn btn-primary btn-lg">Watch</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3>No videos are available. Check back later!</h3>
            {% endif %}
        </div>
    </section>
{% endblock %}