{% extends "consumer_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load domain_url %}

{% block head_title %}{% trans "Videos" %}{% endblock %}

{% block body %}
    {% if video_list %}
        <ul>
        {% for video in video_list %}
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="http://media.istockphoto.com/photos/photographic-camera-lens-with-bokeh-light-picture-id499201764" alt="Video Image">
                  <div class="caption">
                    <h3>Video</h3>
                    <p>Some description goes here.<p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>No videos have been uploaded yet!</p>
    {% endif %}
    <a href="{% domain_url 'videos:create' admin_url_for_site=website_id %}">Upload a video!</a>
{% endblock %}