Django==1.9.5
django-appconf==1.0.2
django-bootstrap-form==3.2.1
django-debug-toolbar==1.4
django-user-accounts==1.3.1
jsonfield==1.0.3
metron==1.3.7
pinax-eventlog==1.1.1
-e git+https://github.com/MikeShi42/pinax-theme-bootstrap.git@e06cc8cee639317832c36a61839ec6b0e4459252#egg=pinax_theme_bootstrap
pytz==2016.4
rauth==0.7.2
