.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}

.jumbotron-video {
  padding-top: 20px;
  padding-bottom: 20px;

  p {
    font-size: initial;
    font-weight: initial;
  }
}

.video-41 {
  margin-top: 20px;
  margin-bottom: 20px;
}