{% extends "site_base.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}Homepage{% endblock %}


{% block body %}

    <section>
        <div class="container">
            <h2>Browse Series</h2>
            <br>
            <div class="row">

                {% if series_for_site %}
                    {% for series in series_for_site %}
                        <div class="col-lg-4">
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="thumbnail" style="color:black;text-decoration-line:none;border-radius:0">
                            <h4>{{  series.title }}</h4>
                            <img src="{{  series.thumbnail_url }}" style="width:320px;height:180px">
                                <br>
                                <p>{{ series.description }}</p>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>No series are available.</h3>
                {% endif %}


            </div>
            <br>
            <p class="text-center">
                <a href="" class="btn btn-primary btn-lg">View More</a><br><br>
            </p>
        </div>
    </section>


{%  endblock %}
