{% load i18n %}
{% load static %}
{% load account_tags %}
<div id="sidebar-website">
    <ul class="sidebar-nav">
        {% for site in websites %}
            <li>
                <a href="#">
                    <img src="http://lorempixel.com/400/400">
                </a>
            </li>
        {% endfor %}
        <li>
            <a href="/dashboard/websites/create">
                <img id="add_site" src="{% static "images/plus.svg" %}">
            </a>
        </li>
    </ul>
</div>