{% load i18n %}
{% load static %}
{% load account_tags %}
{% load dashboard_tags %}

<div id="sidebar-website">
    <ul class="sidebar-nav">
        {% get_sites request.user as websites %}
        {% for site in websites %}
            <li>
                <a href="{% url 'websites_dashboard' site.id %}">
                    <div style="background-color: white;height:60px;min-width:60px;">
                        <h2 style="padding: 0;margin: 0;text-align:center;line-height:60px">
                            {{ site.name|make_list|first }}
                        </h2>
                    </div>
                </a>
            </li>
        {% endfor %}
        <li>
            <a href="/dashboard/websites/create">
                <img id="add_site" src="{% static "images/plus.svg" %}">
            </a>
        </li>
    </ul>
</div>