{% load i18n %}

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
{#        <li class="sidebar-brand">#}
{#            <a href="#">#}
{#                Start Bootstrap#}
{#            </a>#}
{#        </li>#}
        <li>
            <a href="#">
                <img height=64px width=64px src="http://lorempixel.com/400/400">
            </a>
        </li>
        <li>
            <a href="#">
                <img height=64px width=64px src="http://lorempixel.com/400/400">
            </a>
        </li>
        <li>
            <a href="#">
                <img height=64px width=64px src="http://lorempixel.com/400/400">
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->