{% extends "site_base.html" %}

{% block body_base %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>This Past Month</h2>
                </div>
            </div>
            <div class="row">
                <div class="panel-group db-featured">
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="new-subscribers">
                                <h4>New Subscribers</h4>
                            </div>
                            <div class="panel-body">
                                <p>12345</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="new-views">
                                <h4>Views</h4>
                            </div>
                            <div class="panel-body">
                                <p>12345</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="avg-rating">
                                <h4>Average Rating</h4>
                            </div>
                            <div class="panel-body">
                                <p>12345</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="jumbotron">
        <div class="container">
            <div class="row" id="newContent">
                <div class="col-xs-12">
                    <span class="pull-right">
                        <a class="btn btn-success" href="">Add a Video Series</a>
                    </span>
                    <span class="pull-right">
                        <p>Got new knowledge to share? </p>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Manage</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Subscribers</th>
                            <th>Ratings</th>
                            <th>Views</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Django Dragon</td>
                            <td>696969</td>
                            <td>69669</td>
                            <td>Dank</td>
                            <td><a class="btn btn-default">Manage</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}