{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Create Series" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="post" action="{% url "series_create"%}"
                enctype="multipart/form-data">
                <legend>{% trans "Create Series" %}</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary">
                    {% trans "Create Series"%}
                </button>
            </form>
       </div>
    </div>
{% endblock %}
