{% extends "dashboard/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Delete Series" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h2>Delete Series</h2>
            </div>

            <p class="lead">Are you sure you want to delete <strong>{{ object }}</strong>?</p>

            <form method="POST" action="{% url "series:delete" website_id pk %}">

                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    {% trans "Delete Series" %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
