{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Delete Series" %}{% endblock %}

{% block body %}
    <div class="row">
        <h1>Confirm Delete Series</h1>
        <h3>Are you sure you want to delete {{ object }}?</h3>
        <div class="col-md-4 col-md-offset-4">
            <form method="POST" action="{% url "series:delete" website_id pk %}">

                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    {% trans "Delete Series"%}
                </button>
            </form>
       </div>
    </div>
{% endblock %}
