{% extends "dashboard/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Update Series" %}{% endblock %}

{% block body %}
    <section>
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h2>Update Series <small class="pull-right"><a class="btn btn-danger" href="{% url 'series:delete' website_id pk %}">Delete Series</a></small></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form method="POST" action="{% url "series:edit" website_id pk %}" {% if form.is_multipart %}
                  enctype="multipart/form-data"{% endif %}>

                    {% csrf_token %}
                    {{ form|bootstrap }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">
                        {% trans "Update Series" %}
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
