{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Videos" %}{% endblock %}

{% block body %}
    {% if video_list %}
        <ul>
        {% for video in video_list %}
            <p><strong>{{ video.title }}</strong>: {{ video.description }}</p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No videos have been uploaded yet!</p>
    {% endif %}
    <a href="{% url 'videos:create' site_id=site_id %}">Upload a video!</a>
{% endblock %}