{% extends "dashboard/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load domain_url %}

{% block head_title %}{% trans "Create a Video" %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="page-header">
                    <h2>Create Video</h2>
                </div>
                <form method="POST" enctype="multipart/form-data"
                      action="{% url "videos:create" website_id=website_id %}">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
                </form>
            </div>
        </div>
        <section>
            <a href="{% domain_url 'videos:index' client_site=website_id %}">Back to video list</a>
        </section>
    </div>
{% endblock %}