{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load domain_url %}

{% block head_title %}{% trans "Videos" %}{% endblock %}

{% block body %}
    {% if video_list %}
        <ul>
        {% for video in video_list %}
            <p><strong>{{ video.title }}</strong>: {{ video.description }}</p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No videos have been uploaded yet!</p>
    {% endif %}
    <a href="{% domain_url 'videos:create' admin_url_for_site=website_id %}">Upload a video!</a>
{% endblock %}